<html>
<head>
    <title>Login</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>

    <h1>{{ title }}</h1>
    
       <form action="/auth" method="post">
           
           <p>Usuario: </p>
           <input type="text" name="usuario" id="idLogin" class="form-control" 
                   placeholder="e-mail ou nome"/>
           <p>Senha: </p>
           <input type="password" name="senha" id="idSenha" class="form-control"/>
           <button type="submit">Login</button>
       </form>
</body>
</html>